source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Core

# Keep this version synced with dotnet-fable in .fsproj
nuget Fable.Core 1.0.14

nuget Fable.PowerPack
nuget Fable.React
nuget Fable.React.Native
nuget Fable.Elmish
nuget Fable.Elmish.React