source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget Fable.Core

nuget Fable.PowerPack
nuget Fable.React
nuget Fable.React.Native prerelease
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Fable.Import.Browser

group Test

    generate_load_scripts: true
    source https://nuget.org/api/v2
    framework >= net45
    nuget FSharp.Core redirects: force
    nuget Canopy.Mobile
    nuget Expecto

group Build
    source https://nuget.org/api/v2
    
    nuget FAKE < 5